* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  margin: 0;
  background: #000;
  overflow: hidden;
}
@keyframes introOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes introOpacityVideo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.2;
  }
}
video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url(../images/thumbnail.jpeg) no-repeat;
  animation: 4s ease-in 0s 1 introOpacityVideo;
  transition: 3s opacity;
}
.stopfade {
  opacity: .2;
}

#app {
  // background: rgba(0, 0, 0, 0.3);
  color: white;
  // padding: 2rem;
  max-width: 100%;
  font-size: 1.2rem;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.title {
  font-family: Yellowtail;
  font-weight: 100;
  font-size: 7rem;
  margin-bottom: 0;
  cursor: pointer;
  user-select: none;
  animation: 2s ease-in 0s 1 introOpacity forwards;
}
.artist {
  font-family: Yellowtail;
  font-size: 2rem;
  margin-top: -20px;
  letter-spacing: 0;
  margin-bottom: 0;
  opacity: 0;
  animation: 1.5s ease-in 2s 1 introOpacity forwards;

  a {
    text-decoration: none;
    color: white;
  }
}
#day-night-btn {
  display: block;
  padding: 0.9rem 4rem;
  border: none;
  outline: 0;
  margin: 1rem auto;
  font-size: 1.3rem;
  font-family: "Roboto";
  background: rgba(255,255,255,0.2);
  color: #fff;
  // background-color: #F3E5F5;
  border-radius: 3px;
  cursor: pointer;
  transition: .3s background;
  opacity: 0;
  animation: 2s ease-in 3s 1 introOpacity forwards;
}
#day-night-btn:hover {
  background: rgba(255,255,255,0.5);
  color: white;
}

.day-on {
  background: rgba(0,0,0,0.4) !important;
  color: white !important;
}

.day-on:hover {
  background: rgba(0,0,0,0.75) !important;
  color: white !important;
}

// a {
//   display: inline-block;
//   color: #fff;
//   text-decoration: none;
//   background:rgba(0,0,0,0.5);
//   padding: .5rem;
//   transition: .6s background;
// }
.soundcloud-container {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  display: block;
}
#soundcloud {
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
}
@media screen and (max-width: 500px) {
  // div{width:70%;}
  .title {font-size: 4rem;}
  #day-night-btn {padding: 0.7rem 2rem; font-size: 1rem; margin-top: 20px;}
}
@media screen and (max-device-width: 800px) {
  html { background: url(images/thumbnail.png) #000 no-repeat center center fixed; }
  #bgvid { display: none; }
  .title {font-size: 5rem;}
}

// Neon Glow
.button {
  display: inline-block;
  box-sizing: border-box;
  // padding: 10px;
  border: none;
  // font: normal 48px/normal "Warnes", Helvetica, sans-serif;
  color: #f2fbff;
  text-decoration: normal;
  text-align: center;
  text-overflow: clip;
  white-space: pre;
  // text-shadow: 0 0 3px rgba(255,255,255,1) , 0 0 1px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1.2);
  transition-delay: 1.3s;
  text-shadow: 0 0 3px rgba(255,255,255,1) , 0 0 1px rgba(255,255,255,1) , 0 0 0px rgba(255,255,255,1) , 0 0 40px #03A9F4 , 0 0 70px #03A9F4 , 0 0 80px #03A9F4 , 0 0 100px #03A9F4 ;
}

.button-blue {
  // text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
  text-shadow: 0 0 3px white, 0 0 1px white, 0 0 15px white, 0 0 40px #00ffff, 0 0 70px #00ffff, 0 0 80px #00ffff, 0 0 100px #00ffff;
}


.flicker {
  animation: flicker 3.5s linear infinite alternate;
  animation-delay: 5s;
}

@keyframes flicker {
  0% { opacity: .95}
  1% { opacity: .5}
  4% { opacity: .95 }
  5% { opacity: .5}
  6% { opacity: .95 }
  10% { opacity: .5}
  11% { opacity: .95 }
  15% { opacity: .5}
  16% { opacity: .95 }
}


#clock {
  font-family: 'Roboto';
  color: rgba(255,255,255,0.5);
  float: right;
  margin: 20px;
  font-size: 20px;
}
