* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  margin: 0;
  overflow: hidden;
  background: #020104;
}

@keyframes introOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes jumpIn {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes introOpacitySecondary {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.65;
  }
}
@keyframes introOpacityVideo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes flicker {
  0% { opacity: .95}
  1% { opacity: .5}
  4% { opacity: .95 }
  5% { opacity: .5}
  6% { opacity: .95 }
  10% { opacity: .5}
  11% { opacity: .95 }
  15% { opacity: .5}
  16% { opacity: .95 }
}

.stopfade {
  opacity: .2;
}

#app {
  // background: rgba(0, 0, 0, 0.3);
  color: white;
  // padding: 2rem;
  font-size: 1.2rem;
  margin: 0 auto;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#background-img {
  background-image: url("../images/LARRY_MIXTAPE_COVER.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(16px);
  opacity: 0;
  animation: 5s ease-in 1s 0.35 introOpacity forwards;
}

.cover-image {
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: 2s ease-out 0s 1 introOpacity forwards;
  // transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
}

#sc-player {
  margin-top: 4px;
  max-width: 100%;
  opacity: 0;
  animation: 1.8s ease-out 1.33s 1 introOpacity forwards;
}

#cover-sc {
  margin: auto;
  width: 30%;
}

.soundcloud-container {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  opacity: 0;
  animation: 1s ease-out 2.33s 1 introOpacity forwards;
}
#soundcloud {
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
  height: 30px;
}

@media screen and (max-device-width: 800px) {
  #cover-sc { width: 75%; }
  .stopfade { opacity: 0.15;}
  @keyframes introOpacityVideo {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.15;
    }
  }
}

@media screen and (max-device-width: 600px) {
  #cover-sc { width: 85%; }
}
